# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Django
*.log
db.sqlite3
media/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db